<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body>
    <header th:insert="fragments/navbar :: navbar">
    </header>

    <main class="container">
        <section>
            <div class="d-flex mb-3">
                <h3 class="me-auto p-2">User List</h3>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-primary" th:href="@{/tickets/create}">Create ticket</a>
                    <a class="btn btn-primary" th:href="@{/categories/create}">Create Category</a>
                    <a class="btn btn-primary" th:href="@{/status/create}">Create Status</a>
                    <a class="btn btn-primary" th:href="@{/users/create}">Create User</a>
                </div>
            </div>
            <th:block th:replace="~{fragments/messages :: redirect-message(${message}, ${alert})}">
            </th:block>
        </section>
        <section>
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Available </th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}" th:object="${user}">
                        <td th:text="*{id}" />
                        <td th:text="*{username}" />
                        <td th:text="*{isAvailable}" />
                        <td th:text="*{email}" />
                        <td>
                            <a role="button" class="btn btn-sm btn-primary"
                                th:href="@{/users/{id}(id=${user.id})}">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer></footer>


    <!-- Js  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Js /-->
</body>

</html>