<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body>
    <header th:insert="fragments/navbar :: navbar">
    </header>
    <main class="container" th:object="${user}">
        <section sec:authorize="hasAuthority('USER')">
            <div class="d-flex mb-3 justify-content-between">
                <div class="me-2 me-lg-0">
                    <h3 class="me-auto">Welcome,
                        <span sec:authentication="name"></span>
                    </h3>
                    <div th:if="*{isAdmin}">
                        <div class="text-success">Admin</div>
                    </div>
                    <div th:unless="*{isAdmin}">
                        <form th:if="*{isAvailable}" th:action="@{users/edit/status}" method="post">
                            <input type="hidden" name="isAvailable" th:value="false">
                            <button class="btn btn-sm btn-danger me-3" type="submit">Not Available</button>
                        </form>
                        <form th:unless="*{isAvailable}" th:action="@{users/edit/status}" method="post">
                            <input type="hidden" name="isAvailable" th:value="true">
                            <button class="btn btn-sm btn-success me-3" type="submit">Available</button>
                        </form>

                            <!-- <div class="text-success" th:if="*{isAvailable}">Available</div>
                            <div class="text-danger" th:unless="*{isAvailable}">Not Available</div> -->
                    </div>
                </div>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-primary my-3 my-lg-0" th:href="@{/tickets/create}">Create ticket</a>
                    <a class="btn btn-primary" th:href="@{/categories/create}">Create Category</a>
                    <a class="btn btn-primary" th:href="@{/status/create}">Create Status</a>
                </div>
            </div>
            <th:block th:replace="~{fragments/messages :: redirect-message(${message}, ${alert})}">
            </th:block>
        </section>
        <section>
            <h3 sec:authorize="hasAuthority('ADMIN')" class="me-auto p-2">All ticket List</h3>
            <h3 th:unless="*{isAdmin}" class="me-auto p-2">Tickets assigned</h3>
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th class="d-none d-md-table-cell">Status </th>
                        <th class="d-none d-md-table-cell">Category</th>
                        <th sec:authorize="hasAuthority('USER')"></th>
                        <th sec:authorize="hasAuthority('USER')"></th>
                        <th sec:authorize="hasAuthority('USER')"></th>
                        <th sec:authorize="hasAuthority('USER')"></th>
                        <th sec:authorize="hasAuthority('ADMIN')"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="*{isAdmin}" th:each="ticket : ${tickets}" th:object="${ticket}">
                        <td th:text="*{id}" />
                        <td th:text="*{title}" />
                        <td class="d-none d-md-table-cell" th:text="*{status}" />
                        <td class="d-none d-md-table-cell" th:text="*{category}" />
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a role="button" class="btn btn-sm btn-primary"
                                th:href="@{/tickets/{id}/note(id=*{id})}">Add note</a>
                        </td>
                        <td>
                            <a role="button" class="btn btn-sm btn-primary"
                                th:href="@{/tickets/{id}(id=${ticket.id})}">View</a>
                        </td>
                        <td>
                            <a role="button" class="btn btn-sm btn-success"
                                th:href="@{/tickets/edit/{id}(id=${ticket.id})}">Edit</a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger p-1" data-bs-toggle="modal"
                                th:data-bs-target="'#delete-modal-' + *{id}">
                                Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'delete-modal-' + *{id}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Deleting [[*{title}]]
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete [[*{title}]]?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <form th:action="@{/tickets/delete/{id}(id=*{id})}" method="post"
                                                class="d-inline">
                                                <input type="submit" value="Delete permanently"
                                                    class="btn btn-sm btn-danger">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr th:unless="*{isAdmin}" th:each="ticket : *{tickets}" th:object="${ticket}">
                        <td th:text="*{id}" />
                        <td th:text="*{title}" />
                        <td th:text="*{status}" />
                        <td th:text="*{category}" />
                        <td>
                            <a role="button" class="btn btn-sm btn-primary"
                                th:href="@{/tickets/{id}/note(id=*{id})}">Add note</a>
                        </td>
                        <td>
                            <a role="button" class="btn btn-sm btn-primary"
                                th:href="@{/tickets/{id}(id=${ticket.id})}">View</a>
                        </td>
                        <td>
                            <a role="button" class="btn btn-sm btn-success"
                                th:href="@{/tickets/edit/{id}(id=${ticket.id})}">Edit</a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <!-- Js  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- Js /-->
</body>

</html>